<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Fun with Tables</title>


    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />
    <link rel="stylesheet" href="lib/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/lib/angular-material.min.css" type="text/css" />
    <link rel="stylesheet" href="studentsEC.css" type="text/css" />
</head>

<body ng-controller="studentsController">
    <div id="superContainer">
        <div>
            <div id="logo">
                <img src="img/logo.png" alt="UVU Logo" height: "500"></img>
            </div>
            <div id='topRight'>
                <h1 id="titleAttributes" align="right">Student Information</h1>
                <div id="tileTable">
                    <button id="tileButton" type="button" title='Show Tile View' ng-click="tableView=false"><span>tile</span></button>
                    <button id="tableButton" type="button" title='Show Table View' ng-click="tableView=true"><span>table</span></button>
                </div>
            </div>
        </div>

        <div id="tilesContainer" ng-hide="tableView">
            <div class='md-padding' layout="row" layout-wrap>
                <md-card style="width: 300px;" ng-repeat="student in students">
                    <md-card-content>
                        <h4>{{student.lname}}, {{student.fname}}</h4>
                        <p>{{student.startDate}}</p>
                        <p>{{yearNumberToWord(student.year)}}</p>
                        <p>{{student.street}}</p>
                        <p>{{student.city}}</p>
                        <p>{{student.state}}</p>
                        <p>{{student.zip}}</p>
                        <p>{{student.phone}}</p>
                    </md-card-content>
                </md-card>
            </div>
        </div>

        <table id="tableClass" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp"
            ng-show="tableView">
            <thead>
                <tr>
                    <th>
                        <button type="button" id="addNew" title='Click to Add New Student'
                            ng-click="addNew()"
                            class="mdl-button mdl-js-button mdl-button--mini-fab mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                            <i class="material-icons">add</i>
                        </button>
                        <button type="button" id="restore" title='Click to Restore Deleted Student' 
                            ng-disabled="deletedStudents.length == 0" ng-click="restoreStudent()"
                            class="mdl-button mdl-js-button mdl-button--mini-fab mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                            <i class="material-icons">restore</i>
                        </button>
                    </th>
                    <th id="name" class="cursor mdl-data-table__cell--non-numeric"
                        ng-click="reorder('lname')">Name</th>
                    <th id="startingDate" class="cursor mdl-data-table__cell--non-numeric"
                        ng-click="reorder('startDate')">Starting Date</th>
                    <th id="year" class="cursor mdl-data-table__cell--non-numeric"
                        ng-click="reorder('year')">Year</th>
                    <th id="streetAddress" class="cursor mdl-data-table__cell--non-numeric"
                        ng-click="reorder('street')">Street Address</th>
                    <th id="city" class="cursor mdl-data-table__cell--non-numeric"
                        ng-click="reorder('city')">City</th>
                    <th id="state" class="cursor mdl-data-table__cell--non-numeric"
                        ng-click="reorder('state')">State</th>
                    <th id="zip" class="cursor mdl-data-table__cell--non-numeric"
                        ng-click="reorder('zip')">Zip Code</th>
                    <th id="phoneNumber" class="cursor mdl-data-table__cell--non-numeric"
                        ng-click="reorder('phone')">Phone Number</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <tr ng-repeat="student in students | orderBy:orderedBy">
                    <td>                        
                        <button type="button" id="edit" title='Click to edit this Student'
                            ng-click="edit(student)";
                            class="mdl-button mdl-js-button mdl-button--mini-fab mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                            <i class="material-icons">edit</i>
                        </button>
                        <button type="button" id="delete" title='Click to Deleted this Student'
                            ng-click="removeStudent(student)"
                            class="mdl-button mdl-js-button mdl-button--mini-fab mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">{{student.lname}}, {{student.fname}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{student.startDate}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{yearNumberToWord(student.year)}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{student.street}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{student.city}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{student.state}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{student.zip}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{student.phone}}</td>
                </tr>
            </tbody>
        </table>
        <!--<pre>{{students | json}}</pre>-->
    </div>


    <script src="lib/lodash-4.14.1.min.js"></script>
    <script src="lib/js.cookie-2.1.2.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-aria.min.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <script src="lib/angular-messages.min.js"></script>
    <script src="lib/angular-material.min.js"></script>
    <script src="lib/material.min.js"></script>
    
    <script src="sortComparators.js"></script>
    <script src="studentsEC.js"></script>
</body>

</html>
