<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Fun with Tables</title>

    <script src="sortComparators.js"></script>

    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />

    <script src="lib/lodash-4.14.1.min.js"></script>
    <script src="lib/js.cookie-2.1.2.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="studentsEC.js"></script>

    <link rel="stylesheet" href="studentsEC.css" type="text/css" />
</head>

<body ng-controller="test">
    <div>
        <div id="logo">
            <img src="img/logo.png" alt="test" height: "500"></img>
        </div>
        <div id='topRight'>
            <h1 id="titleAttributes" align="right">Student Information</h1>
            <div id="tileTable">
                <button id="tileButton" type="button" title='Show Tile View'><span>tile</span></button>
                <button id="tableButton" type="button" title='Show Table View'><span>table</span></button>
            </div>
        </div>
    </div>

    <div id="tilesContainer" class="hidden">
    </div>

    <table id="tableClass">
        <thead>
            <tr>
                <!--up arrow is &#9650-->
                <!--down arrow is &#9660-->
                <th>
                    <button type="button" id="addNew" title='Click to Add New Student'><span>new</span></button>
                    <button type="button" id="restore" title='Click to Restore Deleted Student' 
                        ng-disabled="deletedStudents.length == 0" ng-click="restoreStudent()"><span>restore</span></button>
                </th>
                <th id="name" class="cursor">Name></th>
                <th id="startingDate" class="cursor">Starting Date></th>
                <th id="year" class="cursor">Year></th>
                <th id="streetAddress" class="cursor">Street Address></th>
                <th id="city" class="cursor">City></th>
                <th id="state" class="cursor">State></th>
                <th id="zip" class="cursor">Zip Code></th>
                <th id="phoneNumber" class="cursor">Phone Number></th>
            </tr>
        </thead>
        <tbody id="tableBody">
            <tr ng-repeat="student in students">
                <td>
                    <button>Edit</button>
                    <button ng-click="removeStudent(student)">Delete</button>
                </td>
                <td>{{student.lname}}, {{student.fname}}</td>
                <td>{{student.startDate}}</td>
                <td>{{student.year}}</td>
                <td>{{student.street}}</td>
                <td>{{student.city}}</td>
                <td>{{student.state}}</td>
                <td>{{student.zip}}</td>
                <td>{{student.phone}}</td>
            </tr>
        </tbody>
    </table>
    <pre>{{students | json}}</pre>
</body>

</html>
